* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
}

body {
    font-family: "Roboto", sans-serif;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

/* START HEADER */
header {
    width: 100%;
    height: 80px;
}

header .container {
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
}

header .container .logo {
    /*width: 30%;*/
}

header .container .logo a img {
    max-height: 50px;
    max-width: 100%;
}

header .container .menu {
    /*width: 50%;*/
}

header .container .menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

header .container .menu ul li {
    display: inline-block;
}

header .container .menu ul li a {
    text-transform: uppercase;
    color: #646a72;
    padding: 0 10px;
}

header .container .menu ul li a.active {
    color: #3cb878;
}

header .container .menu ul li a:hover {
    color: #3cb878;
}

header .container .icon {
    padding: 0 10px;
}

header .container .icon .wrap {
    float: right;
}

header .container .icon .wrap span {
    background: url(../images/cat-icon.png) no-repeat;
    display: block;
    width: 17px;
    height: 17px;
    float: left;
    margin-left: 20px;
}

header .container .icon .wrap span.cart {
    background-position: 2px;
    position: relative;
    cursor: pointer;
}

header .container .icon .wrap span.cart small {
    position: absolute;
    width: 20px;
    height: 20px;
    display: block;
    background: #3cb878;
    color: #fff;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    top: -13px;
    right: -13px;
}

header .container .icon .wrap span.search {
    background-position: -45px;
    cursor: pointer;
}

header .container .icon .wrap span.more {
    display: none;
    background-position: -90px;
    cursor: pointer;
}

/* Start Search */
.search-sidebar {
    height: 100%;
    width: 500px;
    transform: translateX(100%);
    position: fixed;
    z-index: 5999;
    top: 0;
    right: 0;
    background-color: #FFFFFF;
    overflow-x: hidden;
    transition: 0.5s;
}
.search-container {
    padding: 40px 70px;
}
.search-container .search-title {
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
.search-container .search-title .search-out {
    width: 50px;
    cursor: pointer;
}
.search-container .search-form {
    text-align: center;
    width: 100%;
}
.search-container .search-form #search-input {
    width: 100%;
    background: #f5f5f5;
    border: none;
    outline: none;
    height: 55px;
    font-size: 1.071rem;
    padding: 10px 55px 10px 20px;
}
.overlay {
    background: rgba(0,0,0,.8);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    display: none;
}

/* Start Slider */
slider {
    width: 100%;
    display: block;
    max-height: 570px;
    /*position: relative;*/
}

slider .container-slider {
    width: 100%;
}

slider .slide-item {
    /* Neu slide co nhieu anh, thi anh se ngang nhau */
    /*position: absolute;*/
}

slider .slide-item img {
    max-width: 100%;
    height: auto;
}

slider .slide-item h2 {
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 32px;
    line-height: 32px;
    position: absolute;
    top: 40%;
    left: 15%;
}

slider .slide-item h2 span {
    display: block;
    margin-bottom: 25px;
}

slider .slide-item h2 small {
    color: #3cb878;
    display: block;
    padding-top: 8px;
}

/* Start Best seller */
best-seller {
    display: block;
    width: 100%;
    margin-top: 20px;
}

best-seller ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;

}

best-seller ul li {
    width: 20%;
    margin-top: 10px;
    margin-left: 13px;
    position: relative;
}

best-seller ul li img {
    /*max-width: 250px;*/
    max-width: 100%;
}

best-seller ul li img:hover {
    cursor: pointer;
    transform: scale(1.2, 1.2);
    transition: 1s;
}

best-seller ul li a {
    color: #646a72;
    font-size: 14px;
}

best-seller ul li > p {
    color: #3cb878;
}

best-seller ul li:first-child {
    display: flex;
    align-items: center;
    text-align: center;
}

best-seller ul li:first-child div h3 {
    text-transform: uppercase;
    font-size: 20px;
    display: block;
}

best-seller ul li:first-child div small {
    font-size: 14px;
    font-style: italic;
    font-weight: normal;
    color: #3cb878;
}

best-seller ul li:first-child p {
    color: #646a72;
    font-size: 13px;
    padding-top: 10px;
}

best-seller ul li:hover .action {
    display: block;
}

best-seller ul li .action {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

best-seller ul li .action a {
    display: block;
    width: 27px;
    height: 31px;
    margin-bottom: 5px;
    background: url(../images/share.png) no-repeat -7px -3px;
}

best-seller ul li .action a.heart {
    background-position: -7px;
}

best-seller ul li .action a.compare {
    background-position: -7px -105px;
}

/* Shipping */

shipping {
    display: block;
    width: 100%;
    background: #f5f6f9;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 20px 0;
}

shipping ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

shipping ul li {
    width: 25%;
    text-align: center;
}

shipping ul li h3 {
    text-transform: uppercase;
    font-size: 13px;
    padding: 3px 0 5px 0;
}

shipping ul li p {
    font-size: 12px;
    color: #646a72;
}

/* Start promotion */

promotion {
    display: block;
    width: 100%;
    background: #2e3348;
}

promotion ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}

promotion ul li {
    width: 33.333%;
    text-align: center;
    padding: 20px;
}

promotion ul li.active {
    background: #34394f;
}

promotion ul li img {
    max-width: 100%;
    /* width: 350px; */
}

/* Start product-feature */

product-feature {
    display: block;
    width: 100%;
    margin-top: 40px;
    /* padding-bottom: 50px; */
}

product-feature h3 {
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
}

product-feature small {
    color: #3cb878;
    font-size: 12px;
    font-style: italic;
    display: block;
    text-align: center;
    margin-bottom: 30px;
}

product-feature ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

product-feature ul li {
     width: 23%;
    /*max-width: 230px;*/
    min-height: 200px;
    margin-right: 15px;
    margin-bottom: 40px;
}

product-feature ul li:hover {
    cursor: pointer;
}

product-feature ul li a {
    color: #646a72;
    font-size: 14px;
    padding-top: 15px;
}

product-feature ul li p {
    color: #3cb878;
    padding-top: 5px;
}

product-feature ul li img {
    /* max-width: 200px; */
    max-width: 100%;
    flex-grow: 1;
}

product-feature ul li img:hover {
    transform: scale(1.2, 1.2);
    transition: 1s;
}

/* Start Footer */

footer {
    width: 100%;
    display: block;
}

footer div.one {
    display: flex;
}

footer div.discount {
    width: 50%;
    min-height: 200px;
    background: url(../images/discount-bg.png) no-repeat;
    text-align: center;
    /* padding: 30px; */
    color: #fff;
}

footer div.discount h3 {
    font-size: 25px;
    margin-top: 55px;
    margin-bottom: 15px;
}

footer div.discount p {
    padding: 0 100px 15px 100px;
    font-size: 13px;
}

footer div.discount div.form {
    display: flex;
    justify-content: center;
}

footer div.discount div.form input {
    width: 200px;
    padding: 7px;
    margin-right: 5px;
}

footer div.discount div.form button {
    background-color: #3cb878;
    padding: 5px;
    width: 150px;
    color: #fff;
    border: none;
}

footer div.branding {
    width: 50%;
    min-height: 200px;
    background-color: #f5f6f9;
    display: flex;
    justify-content: center;
}

footer div.branding span {
    width: 23%;
    background: url(../images/branding.png) no-repeat;
}

footer div.branding span.brand1 {
    background-position: 15px 45px;
}

footer div.branding span.brand2 {
    background-position: -225px 45px;
}

footer div.branding span.brand3 {
    background-position: -460px 45px;
}

footer div.branding span.brand4 {
    background-position: -700px 45px;
}

footer div.copyright {
    display: flex;
    height: 45px;
    background: #000000;
}

footer div.copyright p {
    width: 50%;
    color: #727272;
    text-align: center;
    line-height: 45px;
    font-size: small;
}

footer div.copyright div.social {
    width: 50%;
    display: flex;
    justify-content: center;
}

footer div.copyright div.social a {
    display: block;
    background: url(../images/social.png) no-repeat;
    width: 45px;
    max-height: 45px;
    margin-left: 5px;
}

footer div.copyright div.social a.one {
    background-position: 0 10px;
}

footer div.copyright div.social a.two {
    background-position: -60px 10px;
}

footer div.copyright div.social a.three {
    background-position: -120px 10px;
}

footer div.copyright div.social a.four {
    background-position: -180px 10px;
}

footer div.copyright div.social a.five {
    background-position: -240px 10px;
}

.modal {
    position: fixed;
    width: 500px;
    height: 500px;
    z-index: 9999;
    background-color: red;
}

@media only screen and (max-width: 992px) {
    header .container .menu {
        display: none;
        position: absolute;
        top: calc(12%);
        left: 0;
        z-index: 999;
        background: #FFFFFF;
        width: 100% !important;
        border: solid 1px #dfe3e8;
        box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.1);
    }
    header .container .menu ul li {
        display: block;
        text-transform: capitalize;
        font-size: 14px;
        font-weight: 600;
        margin: 0;
        border-bottom: 1px solid #eeeeee;
        padding: 10px;
    }
    header .container .icon .wrap span.more{
        display: block;
    }
    best-seller ul {
        flex-wrap: wrap;
    }
    best-seller ul li {
        width: 23%;
    }
    best-seller ul li:first-child {
        width: 100%;
        justify-content: center;
    }
    product-feature ul li {
        width: 30%;
    }
    .search-sidebar {
        width: 345px;
    }
    .search-container {
        padding: 40px 30px;
    }

    footer div.one {
        flex-wrap: wrap;
    }
    footer div.one .discount {
        width: 100%;
    }
    footer div.one .branding {
        width: 100%;
        flex-wrap: wrap;
        /*justify-content: space-between;*/
        /*height: 300px;*/
    }
    footer div.one .branding span {
        width: 23%;
    }

}

@media only screen and (max-width: 768px) {
    product-feature ul li {
        width: 45%;
    }
}

@media only screen and (max-width: 480px) {

}